.layout {
    height: 100%;
    display: flex;
    background-color: #f9f9f9;
}

.user-picture {
    height: 36px;
    width: 36px;
    border-radius: 18px;
    margin: 24px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-picture img {
    width:inherit;
    height: inherit;
    border-radius: inherit;
}

.sidebar {
    background-color: white;
    border-top-right-radius: 20px;
}

.logout {
    position: absolute !important;
}

.ant-menu-item-selected,
.ant-menu-item-active {
    background-color: white !important;
    color: #fb8500 !important;
}

.ant-menu-item span {
    font-size: 20px !important;
}

.ant-menu-item:last-of-type {
    bottom: 0;
}

.ant-layout-content {
    --padding: 25px;
}